* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

/*
Стили сайта, крч, поняль?
*/

/*Подключаем курсивные шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

/*ограничение контентной части по ширине*/
.container {
    width: 80%;
}
body{
    transition: all 1s ease;
}
/*сттилизация шапки*/
header {
    height: 60px;
    position: relative;
    z-index: 3;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 233);
}
.header__img{
    height: 50px;
    margin-right: 10px;
}
.header__img img{
    height: 100%;
}
.header__img-container {
    display: flex;
    align-items: center;

}
.header__menu {
    border: 1px solid #000;
    width: 20px; height: 20px;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__img-name {
    font-size: 22px;
    font-family: 'Bad Script', cursive;
}

/*Стилизация выпадающего списка*/
nav{
    width: 100px;

}
.menu{
    border-radius: 15px;
    text-align: center;
}
.menu:hover{
    border-radius: 15px 15px 0 0;
}
  li {
    color: #fff;
    width: 100%;
    background: rgb(0, 124, 207);
    display: block;
    padding: 15px;
    position: relative;
    text-decoration: none;
    transition-duration: 0.7s;
  }
    
  li a {
    color: #fff;
    transition: all 0.5 ease;
  }
  
  li:hover {
    cursor: pointer;
    background-color: rgb(75, 149, 235);
    transition: all 0.7 ease;
  }
  
  ul li ul {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  
  ul li:hover > ul,
  ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  ul li ul li {
    clear: both;
    width: 100%;
  }
/*сттилизация контентной части*/
main{
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'Balsamiq Sans', cursive;
}
.main-info {
    display: flex;
}
.block-title{
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}
.block-text{
    font-size: 18px;
    line-height: 30px;
}
.main__bg{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 0;
}
.main__bg img{
    height: 100%;
    width: 100%;
}
.main__container {
    padding: 80px 0 50px 0;
    border-radius: 15px;

}
.main__content{
    position: relative;
    z-index: 2;
    background-color: rgba(153, 185, 224, 0.85);
    box-shadow: 0 0 3px #000;
    padding: 30px 15px 15px 20px;
    border-radius: 20px;
    
}
.main__title {
    font-size: 48px;
    text-align: center;
    margin-bottom: 30px;
}
.main__block {
    background-color: rgb(233, 233, 233);
    border-radius: 15px;
    margin-bottom: 50px;
    padding: 25px;
}

/*стилизация подвала*/
footer{
    padding: 10px;
    z-index: 2;
    position: relative;
    width: 100%;
    min-height: 100px;
    background-color: rgb(8, 24, 70);
    font-family: 'Bad Script', cursive;
    text-align: center;
    color: #fff;
}
.footer__img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.footer__img img{
    width: 100%;
    height: 100%;
}

.footer__title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}